.main-page-desc {
    background-color: #dbdde0;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.text-content-main {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* Main Slogan Desktop */
.company-main-name-desc, .highlites {
    font-family: 'Oswald' sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1.2;
}


/* Highlite */
.highlites {
    display: inline;
    color: #5156e5;
}

.text-container-main {
    font-size: 23px;
    line-height: 1.6;
    margin-left: 5px;
}

.main-btn-desc {
    background-color: #5156e5;
    width: 400px;
    height: 50px;
    margin-left: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    border:#5156e5 4px solid;
    border-radius: 40px;
    transition: background-color 0.3s ease transform 0.3 ease color 0.3s ease;
}

.main-btn-desc:hover {
    background-color: #000000;
    color: #5156e5;
    transform: scale(1.05);
}

.main-photo-desc {
    width: auto;
    height: 550px;
    margin-right: 50px;
}

@media (max-width:768px) {
    .main-photo-desc {
        display: none;
    }

    .text-content-main {
        margin-left: 25px;
    }

    .company-main-name-desc, .highlites {
        font-family: 'Oswald' sans-serif;
        font-weight: bold;
        font-size: 35px;
        text-transform: uppercase;
        line-height: 1.1;
    }

    .text-container-main {
        font-size: 25px;
        line-height: 1.6;
        margin-left: 5px;
        width: 350px;
    }
    
    .main-btn-desc {
        background-color: #5156e5;
        width: 300px;
        height: 50px;
        font-size: 18px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 10px;
        border:#5156e5 4px solid;
        border-radius: 40px;
        transition: background-color 0.3s ease transform 0.3 ease color 0.3s ease;
    }
}