.main-page-desc {
    background-color: #dbdde0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.some-cont {
    font-weight: bold;
    color: #5156e5;
}

.main-page-desc.dark {
    background-color: #1c1b24;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.text-content-main {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.company-main-name-desc, .highlites {
    font-family: 'Oswald' sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1.2;
}

.company-main-name-desc.dark {
    color: #ffffff;
}

.main-photo-desc {
    width: auto;
    height: 550px;
    margin-right: 100px;
}

/* Highlite */
.highlites {
    display: inline;
    color: #5156e5;
}

.text-container-main {
    font-size: 18px;
    line-height: 1.6;
    margin-left: 5px;
}

.text-container-main.dark {
    color: #ffffff;
}

/* Style for the button */
.btn-main-desc {
    background-color: #5156e5;
    width: 400px;
    height: 50px;
    margin-left: 3px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #5156e5;
    border-radius: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    display: flex; /* Ensures alignment for the link */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-main-desc:hover {
    background-color: #1c1b24;
    color: #5156e5;
    transform: scale(1.05);
}

/* Style for the link inside the button */
.btn-main-desc .btn-link-desc {
    text-decoration: none; /* Removes underline */
    text-transform: uppercase;
    color: inherit; /* Inherit color from the parent button */
}

/* Optionally, style the link on hover for more control */
.btn-main-desc:hover .btn-link-desc {
    color: inherit; /* Keeps the color consistent with the button */
}


@media  (max-width: 1390px) {
    .company-main-name-desc, .highlites {
        font-family: 'Oswald' sans-serif;
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .text-container-main {
        font-size: 15px;
        line-height: 1.6;
        margin-left: 5px;
        max-width: 500px;
        width: auto;
    }

    .main-photo-desc {
        width: auto;
        height: 450px;
        margin-right: 100px;
    }    
}

@media (max-width: 1100px) {
    .company-main-name-desc, .highlites {
        font-family: 'Oswald' sans-serif;
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .text-container-main {
        font-size: 12px;
        line-height: 1.6;
        margin-left: 5px;
    }

    .main-photo-desc {
        width: auto;
        height: 400px;
        margin-right: 100px;
    }
}

@media (max-width:769px) {
    .main-photo-desc {
        display: none;
    }

    .text-content-main {
        margin-left: 25px;
    }

    .company-main-name-desc, .highlites {
        font-family: 'Oswald' sans-serif;
        font-weight: bold;
        font-size: 35px;
        text-transform: uppercase;
        line-height: 1.1;
    }

    .text-container-main {
        font-size: 20px;
        line-height: 1.6;
        margin-left: 0;
        width: auto;
    }
    
    .btn-main-desc {
        background-color: #5156e5;
        max-width: 95%;
        width: auto;
        margin-left: 0;
        height: a;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        align-content: center;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        padding: 10px;
        border:#5156e5 4px solid;
        border-radius: 40px;
        transition: background-color 0.3s ease transform 0.3 ease color 0.3s ease;
    }
}