.ordercall {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: hsl(238, 74%, 61%) 5px solid;
    width: 90%;
    height: 90px;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.libert-logo img {
    max-width: 70%;
    height: auto;
}

.order-call-content {
    text-align: center;
    margin-right: 50px;
    padding: 0;
    font-size: 15px;
}

.order-call-button {
    background-color: #5156e5;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0;
    height: 50px;
    width: 200px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #6366f1 2px solid;
}

.order-call-button:hover {
    background-color: #1c1b24;
    color: #6366f1;
}

@media (max-width: 768px) {
    .ordercall {
        width: 90%;
        height: 100px;
        padding: 10px;
        align-items: center;
    }

    .libert-logo img {
        height: auto;
        width: 400px;
        margin-top: 5px;
        align-items: left;
    }

    .order-call-content {
        display: none;
    }

    .order-call-button {
        width: 250px;
        padding: 5px 10px;
        font-size: 15px;
        height: 50px;
        margin-top: 0px;
        border-radius: 15px;
        margin-right: 20px;
    }
}

/* Modal Styles */
.modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.modal-content {
    background-color: #1c1b24;
    margin: 10% auto;
    padding: 70px;
    border-radius: 50px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    font-size: 25px;
    color: #ffffff;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #5156e5;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-right: 10px;
}

.modal-close:hover {
    transform: scale(1.2);
}

input[type="text-name"], input[type="tel"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text-name"]:focus, input[type="tel"]:focus {
    border-color: hsl(238, 74%, 61%);
    outline: none;
}

.order-button {
    padding: 15px 30px;
    background-color: hsl(238, 74%, 61%);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
    border: #6366f1 2px solid;
    width: 97.5%;
    margin-top: 20px;
}

.order-button:hover {
    color: #6366f1;
    border: #6366f1 2px solid;
    background-color: #1c1b24;
}