.service-page {
    margin: 0;
    padding: 0;
    background-color: #dbdde0;
    overflow-x: hidden;
}

.service-page.dark {
    background-color: #1c1b24;
}

.service-content-about {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.service-container-about {
    font-size: 23px;
    width: 650px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 15px;
}

.service-container-about.dark {
    color: #ffffff;
}


.service-img-page img {
    width: 600px;
    height: auto;
    margin-right: 80px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



@media (max-width:768px) {
    .map {
        display: none;
    }

    .text-container-about {
        width: 350px;
        justify-content: center;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .service-img-page {
        display: none;
    }
}