.service-page {
    margin: 0;
    padding: 0;
    background-color: #dbdde0;
    overflow-x: hidden;
}

.service-page.dark {
    background-color: #1c1b24;
}

.service-content-about {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.service-container-about {
    font-size: 23px;
    max-width: 650px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 15px;
}

.service-container-about.dark {
    color: #ffffff;
}

.service-image-main-container {
    justify-content: center;
    margin-right: 220px;
    margin-top: 30px;
}

.service-image-desc {
    width: 400px;
    height: auto;
}

.logo-service-background-desc {
    margin-right: 160px;
    margin-top: 40px;
}

@media (max-width: 1305px) {
    .service-image-main-container {
        margin-right: 100px;
    }

    .service-image-desc {
        width: 350px;
        height: auto;
    }
}

@media (max-width: 1030px) {
    .service-image-main-container {
        margin-right: 100px;
    }

    .service-image-desc {
        width: 300px;
        height: auto;
    }
}


@media (max-width:768px) {
    .map {
        display: none;
    }

    .text-container-about {
        max-width: 900px;
        width: auto;
        justify-content: center;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .service-container-about {
        width: 1000px;
    }

    .service-image-desc {
        display: none;
        width: 0;
        background-color: none;
        justify-content: center;
        margin-right: 30px;
    }
}

@media (max-width:768px) {
    .map {
        display: none;
    }

    .text-container-about {
        max-width: 900px;
        width: auto;
        justify-content: center;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .service-container-about {
        width: 1000px;
    }

    .service-image-desc {
        display: none;
        width: 2;
        margin: 0;
    }
}