.main-contact-page {
    margin: 0;
    padding: 0;
    background-color: #dbdde0;
}

.main-contact {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

.contact-form {
    margin-left: 80px;
}

.map-contact {
    margin-right: 170px;
}


@media (max-width: 768px) {
    .map-contact {
        display: none;
    }

    .contact-form {
        margin: 0;
        align-items: center;
    }

    .main-contact {
        margin-bottom: 40px;
    }
}
